@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  position: relative;
  top: 100px;
  padding: 10px;
}

.container {
  padding: 15px;
  width: auto;
  background-color: hsl(0, 0%, 100%);
  max-width: 768px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  width: 300px;
  border-radius: 10px;
}

p:first-child {
  font-weight: 700;
  font-size: larger;
  margin-left: 15px;
}

p:last-child {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
}

article {
  width: 280px;
  text-align: center;
  margin: 15px 0;
}

.attribution {
  position: relative;
  top: 3em;
}
